#settings
{
    background:linear-gradient(rgb(46, 0, 48),transparent);
    background-color:rgb(77, 77, 75);
}

#arr
{
    color:white;
    width: 50px;
    height: 50px;
}

#av
{
    width: 120px;
    height: 120px;
    font-size: 40px;
}

#user
{
    color: white;
    font-size: 40px;
    margin-left: 2rem;
}

#oldp, #newp
{
    width: 600px;
    height: 2rem;
    
}
#oldpc, #newpc
{
    margin-top: 3%;
}


#confirm
{
    color:white;
    font-size: 24px;
    background-color:grey;
}

#logout
{
    color: white;
    font-size: 24px;
    background: darkred;
}

