.full-height {
    height: 100%;
}

.landing-box {
    height: 70%;
}

.atb-gif {
    width: 110%;
    height: 70%;
    margin-top: 15%;
}

.gif-overlay{
    height: 70%;
}

.white-text {
    color: #EC2C6D;
    text-align: center;
}