.box-dim {
  border-radius: 15px;
  background-color: white;
  margin-top: 15%;
  padding-bottom: 19%;
  width: 60%;
  margin-left: 10%;
}

.gap {
  height: 2vh;
}

.icon-margin {
  margin-top: 2% !important;
}

.input-dim {
    padding-top: 25% !important;
}

.input-size {
  width: 50% !important;
  margin-left: 25% !important;
}

.img-size {
    width: 10%;
    height: auto;
}

   .input-field label {
    color: #133E7C;
  }

  .icon-color {
    color:     #133E7C !important;
  }

  .btn-color{
    background-color: #133E7C !important;
    color:white !important;
  }

  .btn-color:hover {
    background-color:#662C90 !important;
    color: white !important;
  }

  .btn-pad {
    margin-left: 30px !important;
  } 
