.full-height {
    height: 100vh;
    background-color:#091835;
}

.landing-box {
    height: 70%;
}

.atb-gif {
    width: 110%;
    height: 70%;
    margin-top: 8%;
}

.gif-overlay{
    height: 70%;
}

.white-text {
    color: #EC2C6D;
    text-align: center;
    margin-left: 10%;
}
